*{
    margin: 0;
    padding: 0;
}

.container2{
    width: 100%;
    display: flex;
}

.first2{
    background-color: green;
    height: 300px;
    flex: 1;
}

.second2{
    background-color: yellow;
    flex: 2;
}

.third2{
    background-color: purple;
    flex: 1;
}