*{
    margin: 0;
    padding: 0;
}

.container3{
    width: 100%;
    height: 300px;
    display: flex;
}

.first3{
    background-color: green;
    height: 100%;
    flex: 1;
    order: 3;
}

.second3{
    background-color: yellow;
    height: 100%;
    flex: 2;
    order: 2;
}

.third3{
    background-color: purple;
    height: 100%;
    flex: 1;
    order: 1;
}