*{
    margin: 0;
    padding: 0;
}

.container4{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.first4{
    background-color: green;
    height: 100%;
    width: 100%;
    flex: 1;
    order: 1;
}

.second4{
    background-color: yellow;
    height: 100%;
    width: 100%;
    flex: 2;    
    order: 3;
}

.third4{
    background-color: purple;
    height: 100%;
    width: 100%;
    flex: 1;
    order: 2;   
}