* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#mainPage {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #5f6368;
}

h2 {
    text-align: center;
    color: #5f6368;
    margin-bottom: 20px;
    font-size: 24px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #00a2ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#viewCoursesPage, #viewStudentsPage, #addNewCoursePage, #addNewStudentPage, #modifyCoursePage, #modifyStudentPage, #deleteCoursePage, #deleteStudentPage{
    display: none;
}

#backToHomeBtn {
    width: 50px; /* Fixed width for the button */
    height: 50px; /* Make sure the height is also set */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    border-radius: 50%; /* Circular button */
    border: none; /* Optional: remove the border */
}

#coursesList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#studentsList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}