*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: none;
    color: white;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../styles/ChatGPT\ Image\ 2025.\ ápr.\ 14.\ 18_26_18.png);
}

.cursor-dot{
    width: 25px;
    height: 25px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 99;
    pointer-events: none;
    border: 3px solid grey;
}

img{
    width: 150px;
    height: 150px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBtn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.menuBtn:hover{
    background: #fff;
    color: black;
}

.form-box{
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 350px;
    height: 400px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
}

input{
    background: #2e2e31;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 250px;
    height: 25px;
}

h2{
    text-align: center;
}

.add-album h2{
    font-size: 200%;
    margin-top: 15px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin: 30px 55px;
}

.input-box-flex{
    display: flex;
    flex-direction: column;
    margin: 30px 55px;
    align-items: center;
    text-align: center;
}

label{
    font-size: large;
}

#releaseYear{
    width: 100px;
}

button{
    background: #1b1b1f;
}

.add-album {
    height: 480px;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.add-album.active {
    display: flex;
    transform: scale(1);
    opacity: 1;
}

.display-album h2{
    margin-top: 15px;
}

.display-album {
    height: 240px;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.display-album.active {
    display: flex;
    transform: scale(1);
    opacity: 1;
}


#saveBtn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    align-self: center;
}

#saveBtn:hover{
    background: #fff;
    color: black;   
}

#submitBtn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    align-self: center;
}

#submitBtn:hover{
    background: #fff;
    color: black;   
}

#close_add_album_tab{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 25px 0 0;
}

#close_display_album_tab{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 25px 0 0;
}

#save_btn_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}