.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 65px;
    text-align: center;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 255, 255, 0.4);
    border: none;
    border-radius: 25px;
}